@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Basis Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color:rgb(34, 34, 34);
}

.tag {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  background-color: #2f00ff;
  color: white;
  font-weight: 700;
  border-radius: 0.5rem;
  display: inline-block;
}

header {
  padding: 1rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.branding {
  animation: spin 30s linear infinite;
  width: 80px;
  height: 80px;

}

section {
  margin-bottom: 100px;
}

.container-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 Spalten */
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
  align-items: center; 
  justify-content: center;
}

.container-100 {
  width: 50%;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.container-30-30-30 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 2 Spalten */
  gap: 20px;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
}

.column {
  border-radius: 8px;

}

.fullwidth {
  width: 100%;
}

.center {
  text-align: center;
}

.mb {
  margin-bottom: 0.5rem;
}

.block {
  display: inline-block;
}


/* Galerie-Container */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem; /* Abstand zwischen Bildern */
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* Galerie-Items */
.gallery-item {
  flex: 1 1 calc(33.333% - 10px); /* 4 Spalten, Abstand abziehen */
  overflow: hidden;
  min-width: 200px; /* verhindert zu kleine Items auf sehr schmalen Bildschirmen */
  max-width: 30%;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

blockquote {
  color: #949494;
  font-size: 0.75rem;
  margin: 0.5rem 0rem 0.5rem 0rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 700;
  font-style: normal;
}
h5 {
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}

/* Bilder */
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0; /* wird durch lazyload später sichtbar */
  margin-bottom: 1rem;
}

/* Lazyload-Fade-In */
.gallery-item img.loaded {
  opacity: 1;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  background-color: #000;        /* schwarzer Hintergrund */
  color: #fff;                   /* weiße Schrift */
  padding: 0.5rem 1rem 0.5rem 1rem;            /* Innenabstand */
  font-size: 1rem;               /* Schriftgröße */
  border: none;                  /* kein Rahmen */
  cursor: pointer;               /* Mauscursor auf Pointer */
  transition: all 0.3s ease;     /* sanfter Übergang für Hover */
  margin-top: 0.5rem;
  min-width: 50px;
  text-decoration: none;
}

/* Hover-Effekt */
.btn:hover {
  background-color: #2f00ff;        /* etwas helleres Schwarz beim Hover */
}

.btn:disabled {               /* helle Schrift für Kontrast */
  cursor: not-allowed;           /* Zeiger zeigt, dass Klick nicht möglich ist */
  transform: none;               /* keine Hover-Transformation */
  box-shadow: none;              /* kein Schatten */                 /* leicht transparent */
}

footer {
  position: fixed;          /* fixiert am Bildschirm */
  bottom: 0;                /* ganz unten */
  left: 0;
  width: 100%;              /* volle Breite */
  background-color: #fff;   /* weißer Hintergrund */
  padding: 0.5rem;
  z-index: 1000;            /* immer oben */
  font-size: 0.75rem;
  text-align: center;
}


/* Image Slider */


.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
}

.slides {
  display: flex;
  width: 100%; /* 5 Bilder */
  transition: transform 0.5s ease;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none; /* standardmäßig versteckt */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

/* Modal-Fenster */
.modal {
  background: #fff;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
  text-align: left;
  font-size: 0.75rem;
}

/* Schließen-Button */
.close-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 16px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background: #0056b3;
}


/* Responsive Breakpoints */

/* Tablet: 2 Spalten */
@media (max-width: 900px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px);
  }
}

/* Smartphone: 1 Spalte */
@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 100%;
    max-width: 80%;
  }

  .container-50-50 {
    grid-template-columns: 1fr; /* 1 Spalte */
    max-width: 90%;
  }

  .container-30-30-30 {
    grid-template-columns: 1fr; /* 1 Spalte */
  }

  .container-100 {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 6rem;
  }

}
